.categories-container {
  text-align: center;
  padding: 20px;
}

/* Category Cards */
.category-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}

.category-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  width: 120px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category-card:hover,
.category-card.active {
  transform: scale(1.1);
  background: #f8f9fa;
}

.category-icon {
  font-size: 30px;
  color: #333;
  margin-bottom: 8px;
}

.blog-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
